# executáveis
*.exe

# arquivos de objeto
*.o
*.obj

# arquivos da IDE (Dev-C++, CodeBlocks, etc)
*.dev
*.layout

# arquivos gerados automaticamente pelo programa
*.txt

# pastas de build (se existirem)
build/
bin/
